In [2]:
1+1

2

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(range (2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [10]:
name='onagi'

In [11]:
len(name)

5

In [13]:
name.upper()

'ONAGI'

len(name)長さがわかるname.upperで全部が大文字になる

name='onagi'
lenz(name)とname.upperに統一感がない

In [14]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [16]:
address.split('o')

['T', 'ky', ',Japan']

In [17]:
address.index('T')

0

In [18]:
address.index('p')

8

In [19]:
address.index('X')

ValueError: substring not found

In [22]:
address.index('o')

1

In [23]:
address.upper()

'TOKYO,JAPAN'

split:指定された文字で分割する
index:文字を探してくれる（左から）
upper:大文字にしてくれる

In [24]:
address.lower()

'tokyo,japan'

upperの対になるのはlower

In [29]:
from datetime import *
date_a = date(2008,1,1)
date_b = date(2009,1,1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [30]:
date_a.year

2008

In [32]:
date_a.month

1

In [33]:
date_a.day

1

name.upper()かっこあり：何らかの処理をする
↑メソッド
date_a.yearかっこなし：データのアクセスするだけ
↑属性
メソッドと属性が合体したものはオブジェクト

In [34]:
name.upper()

'ONAGI'

In [37]:
date.today()

datetime.date(2017, 5, 17)

In [40]:
birthday=date(1997,9,26)

In [41]:
today=date.today()

In [42]:
resolt=today-birthday

In [43]:
print(resolt)

7173 days, 0:00:00

In [44]:
today.weekday()

2

In [45]:
date_a

datetime.date(2008, 1, 1)

In [46]:
date_a.weekday()

1

|date|
|year|
|month|

In [49]:
date_c=date(2000,5,5)

In [50]:
tmp='2000,5,5'

In [51]:
tmp2={2000,5,5}

In [52]:
from datetime import *
today = date.today()
birthday = date(2016, 5, 10)
life = today - birthday
print(life.days)

372